.profiili-button {
    -fx-font-size: 14px;
    -fx-background-color: #add8e6;
    -fx-border-color: #87ceeb;
    -fx-border-radius: 25px;
    -fx-border-width: 3px;
    -fx-background-radius: 15px;
    -fx-padding: 10px;
    -fx-background-insets: 3px;
}

.profiili-button:hover {
    -fx-background-color: #87ceeb;
}

.kurssit-button {
    -fx-font-size: 20px;
    -fx-background-color: #d3d3d3;
    -fx-border-color: #a9a9a9;
    -fx-border-radius: 25px;
    -fx-border-width: 3px;
    -fx-background-radius: 15px;
    -fx-padding: 10px;
    -fx-background-insets: 3px;
}

.kurssit-button:hover {
    -fx-background-color: #c0c0c0;
}

.oppilaat-button {
    -fx-font-size: 20px;
    -fx-background-color: #d3d3d3;
    -fx-border-color: #a9a9a9;
    -fx-border-radius: 25px;
    -fx-border-width: 3px;
    -fx-background-radius: 15px;
    -fx-padding: 10px;
    -fx-background-insets: 3px;
}

.oppilaat-button:hover {
    -fx-background-color: #c0c0c0;
}


.tapahtumat-button:hover {
    -fx-background-color: #c0c0c0;
}

.kalenteri-button {
    -fx-font-size: 20px;
    -fx-background-color: #d3d3d3;
    -fx-border-color: #a9a9a9;
    -fx-border-radius: 25px;
    -fx-border-width: 3px;
    -fx-background-radius: 15px;
    -fx-padding: 10px;
    -fx-background-insets: 3px;
}

.kalenteri-button:hover {
    -fx-background-color: #c0c0c0;
}

.logout-button {
    -fx-font-size: 14px;
    -fx-background-color: #fa8072;
    -fx-border-color: #da5e4e;
    -fx-border-radius: 25px;
    -fx-border-width: 3px;
    -fx-background-radius: 15px;
    -fx-padding: 10px;
    -fx-background-insets: 3px;
}

.logout-button:hover {
    -fx-background-color: #da5e4e;
}

.paivantapahtuma {
    -fx-font-size: 20px;
    -fx-font-color: #060606;
}

.main-menu-list {
    -fx-background-color: #ffffff;
    -fx-border-color: #060606;
    -fx-border-radius: 10px;
    -fx-border-width: 3px;
    -fx-padding: 10px;
}