<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://mysql.metropolia.fi:3306/jannassl</property>
        <property name="hibernate.connection.username">jannassl</property>
        <property name="hibernate.connection.password">TietokantaSalis1</property>

        <!-- JDBC connection pool settings -->
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>

        <!-- Specify dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="hibernate.show_sql">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Names the annotated entity classes -->
        <mapping class="model.Kurssi"/>
        <mapping class="model.Opiskelija"/>
        <mapping class="model.Opettaja"/>
        <mapping class="model.Huoltaja"/>
        <mapping class="model.KurssiIlmoittautuminen"/>
        <mapping class="model.Poissaolo"/>
        <mapping class="model.Oppitunti"/>
        <mapping class="model.Opintosuoritus"/>


    </session-factory>
</hibernate-configuration>