.profiili-button {
    -fx-font-size: 14px;
    -fx-background-color: #add8e6;
    -fx-border-color: #87ceeb;
    -fx-border-radius: 25px;
    -fx-border-width: 3px;
    -fx-background-radius: 15px;
    -fx-padding: 10px;
    -fx-background-insets: 3px;
}

.profiili-button:hover {
    -fx-background-color: #87ceeb;
}

.logout-button {
    -fx-font-size: 14px;
    -fx-background-color: #fa8072;
    -fx-border-color: #da5e4e;
    -fx-border-radius: 25px;
    -fx-border-width: 3px;
    -fx-background-radius: 15px;
    -fx-padding: 10px;
    -fx-background-insets: 3px;
}

.logout-button:hover {
    -fx-background-color: #da5e4e;
}

.back-button {
    -fx-font-size: 14px;
    -fx-background-color: #d3d3d3;
    -fx-border-color: #a9a9a9;
    -fx-border-radius: 25px;
    -fx-border-width: 3px;
    -fx-background-radius: 15px;
    -fx-padding: 10px;
    -fx-background-insets: 3px;
}

.back-button:hover {
    -fx-background-color: #c0c0c0;
}

.Today-Button {
    -fx-background-color: #d3d3d3;
    -fx-border-color: #a9a9a9;
    -fx-border-radius: 25px;
    -fx-border-width: 3px;
    -fx-background-radius: 25px;
    -fx-padding: 10px;
    -fx-background-insets: 3px;
}

.Today-Button:hover {
    -fx-background-color: #c0c0c0;
}

.Week-Button {
    -fx-background-color: #d3d3d3;
    -fx-border-color: #a9a9a9;
    -fx-border-radius: 25px;
    -fx-border-width: 3px;
    -fx-background-radius: 25px;
    -fx-padding: 10px;
    -fx-background-insets: 3px;
}

.Week-Button:hover {
    -fx-background-color: #c0c0c0;
}

.Month-Button {
    -fx-background-color: #d3d3d3;
    -fx-border-color: #a9a9a9;
    -fx-border-radius: 25px;
    -fx-border-width: 3px;
    -fx-background-radius: 25px;
    -fx-padding: 10px;
    -fx-background-insets: 3px;
}

.Month-Button:hover {
    -fx-background-color: #c0c0c0;
}

.All-Button {
    -fx-background-color: #d3d3d3;
    -fx-border-color: #a9a9a9;
    -fx-border-radius: 25px;
    -fx-border-width: 3px;
    -fx-background-radius: 25px;
    -fx-padding: 10px;
    -fx-background-insets: 3px;
}

.All-Button:hover {
    -fx-background-color: #c0c0c0;
}

.Lista-ikkuna {
    -fx-background-color: #d3d3d3;
    -fx-border-color: #a9a9a9;
    -fx-border-radius: 25px;
    -fx-border-width: 3px;
    -fx-background-radius: 25px;
    -fx-padding: 10px;
    -fx-background-insets: 3px;
}